/* Default light theme */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9fafb; /* Light background */
    color: #333; /* Dark text */
  }
  
  /* Dark theme styles */
  body.dark {
    background-color: #1a202c; /* Dark background */
    color: #f9fafb; /* Light text */
  }
  
  .dark .bg-white {
    background-color: #2d3748; /* Darker card background */
  }
  
  .dark .bg-gray-800 {
    background-color: #4a5568; /* Dark footer */
  }
   
  .dark .text-gray-700 {
    color: #cbd5e0; /* Light card text */
  }
  
  .dark .text-white {
    color: #f9fafb; /* Ensure white text */
  }
  
   
    body {
      font-family: 'Poppins', sans-serif;
    }

    .header-title {
      font-family: 'Raleway', sans-serif;
    }

    .project-title {
      font-family: 'Roboto', sans-serif;
    }

    .footer-text {
      font-family: 'Poppins', sans-serif;
    }

    .btn-hover {
      transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .project-img {
      height: 168px;
      object-fit: cover;
      border-radius: 6px;
      border: solid #1a202c;
    }

    .project-card {
      display: none; /* Hide all cards initially */
    }

    /* Show only the first 3 cards */
    .project-card:nth-child(-n+3) {
      display: block;
    }
    .project-card1 {
      display: none; /* Hide all cards initially */
    }

    /* Show only the first 3 cards */
    .project-card1:nth-child(-n+3) {
      display: block;
    }
    .project-card2 {
      display: none; /* Hide all cards initially */
    }

    /* Show only the first 3 cards */
    .project-card2:nth-child(-n+3) {
      display: block;
    }

    @media screen and (min-width: 310px) and (max-width: 420px) {
      body {
          font-size:12px;
      }
      #small{
        font-size:12px;
      }
  }

  
